@import "_herramientas2035/_herramientasMain.css";
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');


.listaMetodos{
  list-style-image: url('_imagenes2035/lapizNegro.png');
}

.listaCostos{
  list-style-image: url('_imagenes2035/pagosNegro.png');
}

.listaRenta{
  list-style-image: url('_imagenes2035/pesosNegro.png');
}
